body {
    background-color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.btn-reload {
    position: absolute;
    top: 8px;
    left: 8px;
}

.country-bar-charts-container {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 0 0 2em;
}

header h1 {
    margin: 1em 0 .1em;
    color: #333;
    font-size: 3em;
}

header h2 {
    margin: 0 0 1.4em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    color: #000;
}

header p {
    margin: 0 0 .2em;
    color: #000;
}

.country-bar-chart h3 {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 54px;
    font-weight: 400;
}

.country-bar-chart__chart {
    margin: 0 auto;
}

.ct-series-a .ct-area {
    fill: #1b6ac9;
}

.ct-series-a .ct-line {
    stroke: #1b6ac9;
    stroke-width: 1px;
    stroke-linecap: round;
}

.ct-series-a .ct-point {
    stroke: #1b6ac9;
    stroke-width: 4px;
    stroke-linecap: round;
}

.ct-grid.ct-vertical {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 0px;
}

.ct-label {
    color: #777;
}